.button{
	-fx-font-size: 10px;
	-fx-text-fill: #ffffff;
	-fx-background-color: #ab2806; 
	-fx-border-width: 1.0;
	-fx-border-color: #771b04;
}

.root{
	-fx-background-color: #c2e1f0;
	-fx-border-color: #000000;
	-fx-border-width: 5.0;
}

.menu-bar{
	-fx-background-color: #c2e1f0;
	-fx-border-color: #000000;
	-fx-border-width: 5.0;
}

.label{
	-fx-font-size: 14px;
}